{% extends 'bash.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}
{% block JS %}

<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/index/main.js' %}"></script>
<script src="{% static 'js/vue-resource.js' %}"></script>
<script src="{% static 'js/vue-router.js' %}"></script>

{% endblock %}
{% block body %}
<div class="col-md-10 offset-md-1 row" id="app">
    {% for t in ssd %}
    <div class=" col-md-4 col-lg-3 ">
        <div class="card">
            <div class="card-header">
                Tel:{{t.number}}
            </div>
            <div class="card-body">
                <div>
                    使用人：{{t.user}}
                </div>
                <div>
                    领取时间：{{t.date}}
                </div>

            </div>
            <div class="card-footer text-right">
                    所属分公司：{{t.company}}
            </div>
        </div>
    </div>
    {% endfor %}

    {% block longin%}
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title" id="myModalLabel">
                        手机号填写：
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <form role="form" method="POST" action="/">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div>
                                <label for="name">
                                    手机号：
                                </label>
                                <input type="text" id='number' class="form-control" placeholder="请输入手机号例如：15828232213"
                                    name="number">
                            </div>
                        </div>
                        <div>
                            <label for="name">
                                使用人：
                            </label>
                            <input type="text" id='user' class="form-control" placeholder="请输入使用人例如：衡宥麟" name="user">
                        </div>
                        <div>
                            <label for="name">
                                部门：
                            </label>
                            <input type="text" id='classes' class="form-control" placeholder="请输入部门例如：技术开发部" name="classes">
                        </div>

                        <div>
                            <label for="name">
                                所属公司：
                            </label>
                            <select name='company' class="form-control">
                                <option value="重庆">重庆</option>
                                <option value="成都">成都</option>
                                <option value="西安">西安</option>
                                <option value="武汉">武汉</option>
                            </select>
                        </div>
                        <div>
                            <label for="name">
                                付款方式：
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="feiyong" id="optionsRadios3" value="公司" checked>
                                公司
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="feiyong" id="optionsRadios4" value="报销"> 报销
                            </label>
                        </div>


                    </div>
                    <div class="modal-footer ">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" class="btn btn-warning">确认</button>

                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    {% endblock %}
</div><br />
<!-- <div id='mix' class="col-lg-10 col-lg-push-1">
    <li v-for="item in ts">
        {[item.city]}|{[item.date]}
    </li>
    <button class="btn" v-on:click='greet' value="获取">tt</button>

</div> -->
{% endblock %}