{% extends 'bash.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}
{% block JS %}

<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/wx/index.js' %}"></script>
<script src="{% static 'js/vue-resource.js' %}"></script>


{% endblock %}
{% block body %}
<form method="post" class="form-row">
<div class=" col-sm-12 row " >

        {% for ts in data %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card ">
                <div class="card-header">
                    {% if ts.res == "T" %}
                        <H5>刷新中</H5>
                    {%  elif ts.res == "True" %}
                        <h5>完毕，等待下次</h5>
                    {% else  %}
                        <H5>出错了请检查配置</H5>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ts.username}}</p>
                    <p>{{ts.date}}</p>

                </div>
                <div class="card-footer text-right">
                    <input type="button" value="jaja" class="btn btn-dark">
                </div>
            </div>
        </div>

        {% endfor %}
</div>
</form>


{% endblock %}

{% block login %}


{% endblock %}