{% extends 'bash.html' %}
{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock %}
{% block JS %}
{% endblock %}
{% block body %}
<div class="col-md-10 offset-md-1">

    <form enctype="multipart/form-data" action="/insert/" method="post" class="form-group">
        {% csrf_token %}
        <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="tata">
      <label class="custom-file-label" for="customFile">选择文件</label>
        <button type="submit" class="btn btn-dark">提交</button>
        </div>
    </form>
</div>
{% endblock body %}